.options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.button {
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid #1b1b1b;
  background-color: #e8e8e8;
}

.button:focus {
  color: #fff;
  background-color: #7e847f;
}
